.form-register-container {
  overflow: scroll;
  padding: 3vh;
  height: 83vh;
  width: 75%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1%;
  padding: 2vh;
}

.feild {
  justify-content: center;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  text-align: left;
}

.feild:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* box-shadow: inset 0px 0px 10px 1px #fefefe; */
}
.feild2 {
  justify-content: center;
  font: bolder;
  color: red;
}
.form-register-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-register-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feild-last {
  padding-bottom: 8vh;
}

.feild-last:hover {
  color: grey;
}

.para {
  /* text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.feild3 {
  padding-top: 10vh;
}

select {
  text-align: center;
  width: 170px;
  height: 28px;
  overflow: hidden;
  background-color: transparent;
  border: #fefefe 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #fefefe;
  box-shadow: inset 0px 0px 10px 1px #fefefe;
}
.select:hover {
  box-shadow: inset 0px 0px 10px 1px #fefefe;
}
.quantity {
  text-align: center;
  background-color: transparent;
  width: 100px;
  height: 28px;
  overflow: hidden;
  border: #fefefe 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #fefefe;
  box-shadow: inset 0px 0px 10px 1px #fefefe;
}

label {
  padding-top: 8px;
  padding-left: 5px;
}

.optionss {
  background-color: rgba(0, 0, 0, 0.8);
}
.checked {
  background-color: black;
}
