/* .message {

} */
.out-cardd {
  background-color: rgba(0, 0, 0, 0.541);
}
.feildss {
  text-align: center;
  margin-bottom: 4vh;
}
.messagee:hover {
  background-color: rgba(0, 0, 0, 0.304);
}
.messagee {
  background-color: transparent;
  height: 30vh;
  width: 30vw;
  padding-top: 3%;
  padding-left: 2%;
}
